

<ion-content>
  <ion-card>
    <ion-item color="success">
    <ion-label >Izaberite datum</ion-label>
    <ion-datetime [(ngModel)]="date" displayFormat="MM/DD/YYYY" ></ion-datetime>
  </ion-item>
    <ion-button expand="block" (click)="findReservation()" >Pronadji rezervacije za izabrani dan</ion-button>
  </ion-card>
     <div *ngIf="clicked">
    <div *ngFor="let res of reservationsList">
      <app-reservation-card [reservation]="res" ></app-reservation-card>
    </div>
  </div>
 
</ion-content>
