<ion-card>
    <ion-card-subtitle>Rezervacija broj {{reservation.reservationId }}</ion-card-subtitle>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>{{reservation.restaurantName}}</ion-label>
      
    </ion-item>
  
    <ion-card-content>
      <ion-item>
          <ion-label>Datum: {{reservation.date | date:'dd/MM/yyyy'}}</ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Broj osoba: {{reservation.restaurantTable.seating}}  Broj stola: {{reservation.restaurantTable.tableNumber}}</ion-label>
    </ion-item>
    </ion-card-content>
  </ion-card>