<ion-tabs >
  <ion-tab-bar slot="bottom" *ngIf="acc.currentUser$ | async">
    <ion-tab-button *appHasRole ='["Admin","AppUser"]' tab="restaurants">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Restorani</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button *appHasRole ='["AppUser"]' tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

    <ion-tab-button *appHasRole ='["AppUser"]' tab="reservations" >
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Rezervacije</ion-label>
    </ion-tab-button>

    <ion-tab-button *appHasRole ='["AppUser","Admin"]' tab="liked-restaurants" >
      <ion-icon name="heart"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>

    <ion-tab-button *appHasRole ='["Admin"]' tab="create-restaurant" >
      <ion-icon name="heart"></ion-icon>
      <ion-label>Unos novog restorana</ion-label>
    </ion-tab-button>

    <ion-tab-button *appHasRole ='["Restaurant"]' tab="restaurant-reservation-list" >
      <ion-icon name="heart"></ion-icon>
      <ion-label>Pregled rezervacija</ion-label>
    </ion-tab-button>
    <ion-tab-button *appHasRole ='["Restaurant"]' tab="restaurant-reservation" >
      <ion-icon name="heart"></ion-icon>
      <ion-label>Unos rezervacije</ion-label>
    </ion-tab-button>
    <ion-tab-button *appHasRole ='["Restaurant"]' tab="create-restaurant" >
      <ion-icon name="heart"></ion-icon>
      <ion-label>Unos fotografije</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>