<ion-tabs >
  <ion-tab-bar slot="bottom" *ngIf="acc.currentUser$ | async">
    <ion-tab-button tab="restaurants">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label>Restorani</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Profil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reservations" >
      <ion-icon name="mail-outline"></ion-icon>
      <ion-label>Rezervacije</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="liked-restaurants" >
      <ion-icon name="heart"></ion-icon>
      <ion-label>Saved</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" routerLink="/profile">
      <ion-icon name="log-out-outline"></ion-icon>
      <ion-label>Izloguj se</ion-label>
    </ion-tab-button>

    <ion-tab-button *appHasRole ='["Admin","Restaurant"]' tab="liked-restaurants" >
      <ion-icon name="alarm-outline"></ion-icon>
      <ion-label>Rezervacije</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>