<ion-header>
  <ion-toolbar>
    <ion-title>restaurant-photos-upload</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides [options]="imgSlide" *ngIf="restaurant?.photos">
    <ion-slide *ngFor="let image of restaurant.photos">
      <img src="{{image.url}}">

    </ion-slide>
  </ion-slides>
  <form enctype='multipart/form-data'>
    <input type='file' name='userFile' (change)="aaa($event)" ><br>
    <ion-button color="success" expand="block" (click)="uploadImage()">Upload profile picture</ion-button>
  </form>
  <p>Unesite redni broj fotografije koju zelite da postavite za glavnu</p>
  <ion-item>
    <ion-label position="floating">Redni broj:</ion-label>
    <ion-input [(ngModel)]="photoNo" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-button (click)="changeMainPhoto()" >Promeni glavnu fotografiju</ion-button>
  </ion-item>
</ion-content>
