<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref='restaurant-reservation'>

      </ion-back-button>
    <ion-title>Fotografije restorana</ion-title>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  <ion-slides [options]="imgSlide" *ngIf="restaurant?.photos">
    <ion-slide *ngFor="let image of restaurant.photos">
      <img src="{{image.url}}">

    </ion-slide>
  </ion-slides>
  <form enctype='multipart/form-data'>
    <input type='file' name='userFile' (change)="aaa($event)" ><br>
    <ion-button color="success" expand="block" (click)="uploadImage()">Unos fotografija</ion-button>
  </form>
  <p>Unesite redni broj fotografije koju zelite da postavite za cover sliku</p>
  <ion-item>
    <ion-label position="floating">Redni broj:</ion-label>
    <ion-input [(ngModel)]="photoNo"  ></ion-input>
  </ion-item>
  <ion-item>
    <ion-button  (click)="changeMainPhoto()" >Promeni glavnu fotografiju</ion-button>
  </ion-item>
</ion-card>
</ion-content>
