<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref='restaurants'>

      </ion-back-button>
    <ion-title>Sacuvani restorani</ion-title>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="restaurants.length<1">
    <ion-note color="danger" >Niste sačuvali nijedan restoran</ion-note>
  </div>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
<div *ngFor="let item of restaurants">
  <app-restaurant-card [restaurant]="item" ></app-restaurant-card >
</div>

</ion-content>
