<ion-buttons>
  <ion-button fill="solid" shape="round" color="light" routerLink="/profile">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
  </ion-button>
</ion-buttons>

<ion-content class="background-image" [fullscreen]="true">
   
  
<ion-card *ngIf="user">
  <ion-card-subtitle>Izmena licnih podataka</ion-card-subtitle>
    <form [formGroup]='userChangeForm' (ngSubmit)="updateUser()" >
    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-item>
            <ion-label position="stacked">Ime </ion-label>
            <ion-input formControlName='name' ></ion-input>
          </ion-item>
        </ion-row>
        
        <ion-row>
          <div class="inputDiv" *ngIf="userChangeForm.get('name').hasError('required') && userChangeForm.get('name').touched===true " >Morate da unesete ime</div>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label position="stacked">Prezime</ion-label>
            <ion-input formControlName='surname'></ion-input>
          </ion-item>
    
        </ion-row>
        <ion-row>
          <div class="inputDiv" *ngIf="userChangeForm.get('surname').hasError('required') && userChangeForm.get('surname').touched===true" >Morate da unesete prezime</div>
        </ion-row>
        <ion-row>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input formControlName='userEmail'></ion-input>
          </ion-item>
    
        </ion-row>
        <ion-row>
          <div class="inputDiv" *ngIf="userChangeForm.get('userEmail').hasError('required') && userChangeForm.get('userEmail').touched===true " >Morate da unesete email</div>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Korisnicko ime</ion-label>
              <ion-input formControlName='username'></ion-input>
            </ion-item>
            <ion-row>
              <div class="inputDiv" *ngIf="userChangeForm.get('username').hasError('required') && userChangeForm.get('username').touched===true" >Morate da unesete username</div>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="stacked">Telefon</ion-label>
              <ion-input formControlName='cellphoneNumber'></ion-input>
            </ion-item>
            <ion-row>
              <div class="inputDiv" *ngIf="userChangeForm.get('cellphoneNumber').hasError('required') && userChangeForm.get('cellphoneNumber').touched===true " >Morate da unesete telefon</div>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    

    <ion-button [disabled]='!userChangeForm.valid' expand="block"  color="success" type="submit" >Zapamti izmene</ion-button>

  </form> 
</ion-card> 

</ion-content>
