<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button defaultHref='profile'>

      </ion-back-button>
    <ion-title>Rezervacije</ion-title>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>

    </ion-refresher-content>
  </ion-refresher>
  <div *ngIf="reservationsList.length<1">
    <p>Niste jos napravili nijednu rezervaciju</p>
  </div>
  <div *ngFor="let res of reservationsList">
    <app-reservation-card [reservation]="res" ></app-reservation-card>
  </div>
  
</ion-content>
