<ion-header>
  <ion-buttons>
    <ion-button fill="solid" shape="round" color="light" routerLink="/restaurants">
    <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
  </ion-buttons>

  
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="restaurants">
      </ion-back-button>
    </ion-buttons>
  
</ion-header>


<ion-content>
  <ion-header >
    <ion-card>
      <img src="{{user.profilePhotoUrl}}"/>
      <ion-card-header>
        <ion-card-subtitle>Profil korisnika:</ion-card-subtitle>
        <ion-card-title>{{user.username}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Nesto o korisniku bla bla truc
      </ion-card-content>
      
      
    </ion-card>
    
  
  </ion-header>

  <section>
    <header></header>
    <ion-button expand="block" (click)="logout()">Izloguj se</ion-button>
  </section>
  <ion-button routerLink="/user-info-change"> Izmeni</ion-button>
  <form enctype='multipart/form-data'>
    <input type='file' name='userFile' (change)="aaa($event)" ><br>
    <ion-button (click)="uploadImage()">Upload profile picture</ion-button>
  </form>
</ion-content>
