

<ion-content [fullscreen]="true" class="background-image">
  <ion-card >
    
    <ion-card-title >  Unos novog restorana</ion-card-title>
    <form [formGroup]='restaurantForm' (ngSubmit)="create()" >
<ion-item>
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label position="stacked">Ime restorana</ion-label>
        <ion-input formControlName='name'></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <div class="inputDiv" *ngIf="restaurantForm.get('name').hasError('required') && restaurantForm.get('name').touched===true" >Morate da unesete ime</div>
    </ion-row>
   
    
  
    <ion-row>
      
        <ion-item>
          <ion-label position="stacked">Adresa restorana</ion-label>
          <ion-input formControlName='adress'></ion-input>
        </ion-item>
      </ion-row>
        <ion-row>
          <div class="inputDiv" *ngIf="restaurantForm.get('adress').hasError('required') && restaurantForm.get('adress').touched===true " >Morate da unesete ime</div>
        </ion-row>
   
      <ion-row>
        <ion-item>
          <ion-label position="stacked">Telefon</ion-label>
          <ion-input formControlName='phoneNumber'></ion-input>
        </ion-item>

        <ion-row>
          <div class="inputDiv" *ngIf="restaurantForm.get('phoneNumber').hasError('required') && restaurantForm.get('phoneNumber').touched===true" >Morate da unesete ime</div>
        </ion-row>
      
    </ion-row>
    <ion-row>
      
        <ion-item>
          <ion-label position="stacked">Lozinka</ion-label>
          <ion-input formControlName='password'></ion-input>
        </ion-item>
        <ion-row>
          <div class="inputDiv" *ngIf="restaurantForm.get('password').hasError('required') && restaurantForm.get('password').touched===true " >Morate da unesete ime</div>
          <div class="inputDiv" *ngIf="restaurantForm.get('password').hasError('minlength') && restaurantForm.get('password').touched===true " >Mora 6</div>
        </ion-row>
     
     
    </ion-row>
  </ion-grid>

</ion-item>


    <ion-button [disabled]='!restaurantForm.valid' expand="block" color="success" type="submit" >Unesi restoran</ion-button>

    </form>
  </ion-card>
</ion-content>
