<ion-content fullscreen class="background-image">
  <ion-card >
    
    <ion-card-title >  Unos novog restorana</ion-card-title>
    <form [formGroup]='restaurantForm' (ngSubmit)="create()" >
<ion-item>
  <ion-grid>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Ime restorana</ion-label>
        <ion-input formControlName='name'></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <div class="inputDiv" *ngIf="restaurantForm.get('name').hasError('required') && restaurantForm.get('name').touched===true" >Morate da unesete ime</div>
    </ion-row>
   
    
  
    <ion-row>
      
        <ion-item>
          <ion-label position="floating">Adresa restorana</ion-label>
          <ion-input formControlName='adress'></ion-input>
        </ion-item>
      </ion-row>
        <ion-row>
          <div class="inputDiv" *ngIf="restaurantForm.get('adress').hasError('required') && restaurantForm.get('adress').touched===true " >Morate da unesete adresu</div>
        </ion-row>
   
      <ion-row>
        <ion-item>
          <ion-label position="floating">Telefon</ion-label>
          <ion-input formControlName='phoneNumber'></ion-input>
        </ion-item>

        <ion-row>
          <div class="inputDiv" *ngIf="restaurantForm.get('phoneNumber').hasError('required') && restaurantForm.get('phoneNumber').touched===true" >Morate da unesete tekefon</div>
        </ion-row>
      
    </ion-row>
    <ion-row>
      
        <ion-item>
          <ion-label position="floating">Lozinka</ion-label>
          <ion-input type="password" formControlName='password'></ion-input>
        </ion-item>
        <ion-row>
          <div class="inputDiv" *ngIf="restaurantForm.get('password').hasError('required') && restaurantForm.get('password').touched===true " >Morate da unesete lozinku</div>
          <div class="inputDiv" *ngIf="restaurantForm.get('password').hasError('minlength') && restaurantForm.get('password').touched===true " >Mora 6</div>
        </ion-row>
     
     
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-badge>2</ion-badge>
            <ion-icon name="people-outline"></ion-icon>
          </ion-label>
          <ion-input formControlName='seatingFor2' type="number"></ion-input>
        </ion-item>
        <ion-row>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor2').hasError('required') && restaurantForm.get('seatingFor2').touched===true " >Obevezno</div>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor2').hasError('min') && restaurantForm.get('seatingFor2').touched===true " >Minimalno je 0</div>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor2').hasError('max') && restaurantForm.get('seatingFor2').touched===true " >Maksimalno je 20</div>

        </ion-row>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-badge>4</ion-badge>
            <ion-icon name="people-outline"></ion-icon>
          </ion-label>
          
          <ion-input formControlName='seatingFor4' type="number"></ion-input>
        </ion-item>
        <ion-row>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor4').hasError('required') && restaurantForm.get('seatingFor4').touched===true " >Obevezno</div>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor4').hasError('min') && restaurantForm.get('seatingFor4').touched===true " >Minimalno je 0</div>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor4').hasError('max') && restaurantForm.get('seatingFor4').touched===true " >Maksimalno je 20</div>

        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-badge>6</ion-badge>
            <ion-icon name="people-outline"></ion-icon>
          </ion-label>
          <ion-input formControlName='seatingFor6' type="number"></ion-input>
        </ion-item>
        <ion-row>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor6').hasError('required') && restaurantForm.get('seatingFor6').touched===true " >Obevezno</div>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor6').hasError('min') && restaurantForm.get('seatingFor6').touched===true " >Minimalno je 0</div>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor6').hasError('max') && restaurantForm.get('seatingFor6').touched===true " >Maksimalno je 20</div>

        </ion-row>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-badge>8</ion-badge>
            <ion-icon name="people-outline"></ion-icon>
          </ion-label>
          <ion-input formControlName='seatingFor8' type="number"></ion-input>
        </ion-item>
        <ion-row>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor8').hasError('required') && restaurantForm.get('seatingFor8').touched===true " >Obevezno</div>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor8').hasError('min') && restaurantForm.get('seatingFor8').touched===true " >Minimalno je 0</div>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor8').hasError('max') && restaurantForm.get('seatingFor8').touched===true " >Maksimalno je 20</div>

        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-badge>10</ion-badge>
            <ion-icon name="people-outline"></ion-icon>
          </ion-label>
          <ion-input formControlName='seatingFor10'type="number"></ion-input>
        </ion-item>
        <ion-row>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor10').hasError('required') && restaurantForm.get('seatingFor10').touched===true " >Obevezno</div>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor10').hasError('min') && restaurantForm.get('seatingFor10').touched===true " >Minimalno je 0</div>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor10').hasError('max') && restaurantForm.get('seatingFor10').touched===true " >Maksimalno je 20</div>

        </ion-row>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            <ion-badge>12</ion-badge>
            <ion-icon name="people-outline"></ion-icon>
          </ion-label>
          <ion-input formControlName='seatingFor12' type="number"></ion-input>
        </ion-item>
        <ion-row>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor12').hasError('required') && restaurantForm.get('seatingFor12').touched===true " >Obevezno</div>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor12').hasError('min') && restaurantForm.get('seatingFor12').touched===true " >Minimalno je 0</div>
          <div class="inputDiv" *ngIf="restaurantForm.get('seatingFor12').hasError('max') && restaurantForm.get('seatingFor12').touched===true " >Maksimalno je 20</div>

        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item>
        <ion-label position="floating">Opis</ion-label>
        <ion-input formControlName='description' type="textarea"></ion-input>
      </ion-item>

    </ion-row>
  </ion-grid>

</ion-item>


    <ion-button [disabled]='!restaurantForm.valid' expand="block" color="success" type="submit" >Unesi restoran</ion-button>

    </form>
  </ion-card>
  <ion-item class="hid">
    <ion-label >aaaa</ion-label>
  </ion-item>
  <ion-item class="hid">
    <ion-label>aaaa</ion-label>
  </ion-item>
  <ion-item class="hid">
    <ion-label>aaaa</ion-label>
  </ion-item >
  <ion-item class="hid">
    <ion-label>aaaa</ion-label>
  </ion-item>
  <ion-item class="hid">
    <ion-label>aaaa</ion-label>
  </ion-item>
  <ion-item class="hid">
    <ion-label>aaaa</ion-label>
  </ion-item>
  <ion-item class="hid">
    <ion-label>aaaa</ion-label>
  </ion-item>
  <ion-item class="hid">
    <ion-label>aaaa</ion-label>
  </ion-item>
  <ion-item class="hid">
    <ion-label>aaaa</ion-label>
  </ion-item>

</ion-content>

