


  <ion-header class="new-back">
   
   
       <!-- <ion-title>
        <img alt="logo" height="40"   src="assets/nadjiMeStoLOGO.png" > 
       </ion-title> -->
       
     
    
    <ion-buttons>
      <ion-button fill="solid" shape="round" color="light" routerLink="/restaurants">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    
  </ion-header>


<ion-content>
  <!-- <div class="background-image" >
    
  </div> -->
  <ion-slides [options]="imgSlide">
    <ion-slide *ngFor="let image of imagesList">
     <img src="{{image}}">
  
    </ion-slide>
  </ion-slides>
  <ion-header collapse="condense" class="ion-no-border">

    <ion-toolbar>
      <ion-title size="large">{{restaurant.name}}</ion-title>

    </ion-toolbar>
  </ion-header>
  <div>
    <ion-row>
      <ion-col size="12" >
        <ion-icon name="location-outline"></ion-icon>
        <ion-text color="medium">{{restaurant.adress}}</ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" >
        <ion-icon name="call-outline"></ion-icon>
        <ion-text color="medium">{{restaurant.phoneNumber}}</ion-text>
      </ion-col>
    </ion-row>
  </div>

</ion-content>