<ion-router-outlet></ion-router-outlet>
<ion-header [translucent]="true">
</ion-header>
<ion-content class="background-image" [fullscreen]="true">
  <div id="container">
    <ion-card>
      <ion-card-subtitle> Prijavi se/Registruj se ako nemas nalog</ion-card-subtitle>
    <form [formGroup]='loginForm' (ngSubmit)="goTo()">
 


          <ion-item>
            <ion-label position="stacked">Korisnicko ime:</ion-label>
            <ion-input 
              formControlName='username' >
            </ion-input>
          </ion-item>

        <div class="inputDiv" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched===true" >Morate da unesete lozinku</div>
      
        <ion-item>
          <ion-label position="stacked">Lozinka:</ion-label>
          <ion-input formControlName='password'></ion-input>
        </ion-item>

    
      
    
        <div class="inputDiv" *ngIf="loginForm.get('password').hasError('required') " >Morate da unesete lozinku</div>
        <div class="inputDiv" *ngIf="loginForm.get('password').hasError('minlength') " >Lozinka mora biti duza od 6 karaktera</div>
    
      <ion-button [disabled]='!loginForm.valid' type="submit" color="success">Prijavi se</ion-button>
      <ion-button routerLink="/register" color="dark">Registruj se</ion-button>

    </form>
  </ion-card>
  </div>
</ion-content>


