#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.inputDiv{
  margin-left: 20px;
  margin-top: 20px;
  color: red;

}
ion-input{
  --background:transparent !important;
}

ion-button{
  margin-top: 50px;
}
// .bg-image{
//   background-image: url('../../assets/pozadina.jpg');
//   background-position: cover;
//   background-repeat: no-repeat;
//   background-size: contain;
//   background-color: transparent;

// }

.background-image{
  --background:url(../../assets/Nova-80.jpg) 0 0/100% 100%  no-repeat;
  
  background-position: cover;
  background-repeat: no-repeat;
  background-size: contain;
  
}