<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
     <ion-item>
      <ion-label position="stacked">Korisnicko ime: </ion-label>
      <ion-input ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Lozinka:</ion-label>
      <ion-input  ></ion-input>
    </ion-item>
    <ion-button color="success" (click)="goTo()">Uloguj se</ion-button>
    <ion-button color="dark" routerLink='/register' >Registruj se</ion-button>

  </div>
</ion-content>
